@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:900,800,700,600,500,400,200);
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,300,100);

.app {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
}
.app__text--subtext,
.app h1 {
  color: white;
  text-shadow: 0.5px 0.5px black;
}

.app h1,
.app h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.app h2 {
  font-size: 38px;
}

.app h1 {
  font-size: calc( 40px + (80 - 40)* ((100vw - 400px) / (1920 - 400)));
  margin-bottom: 10px;
}
.typed-cursor,
.typed-cursor--blink {
  display: none;
}

.app__content--main {
  background-image: url('./images/chairs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
  background-position: left;
}
.app__grid--content {
  padding: 40px;
}

.app__grid--content .wrapper {
  width: 60%;
  margin-top: 80px;
}

.app__text--yellow {
  color: #f6c335;
  font-weight: 700;
}

.app__text--subtext {
  font-size: 18px;
  margin-top: 0;
}
.app__workshop ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.app__workshop ul li {
  padding: 6px 0 6px 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.app__workshop ul li:last-of-type {
  margin-bottom: 32px;
}
.app__workshop--heading {
  font-size: 16px;
  font-weight: 600;
}

.app__grid {
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.button {
  display: none;
}
.app__footer {
  position: relative;
}
.app__footer--pagenumber {
  position: absolute;
  bottom: -28px;
  right: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #616161;
  font-size: 14px;
}

@media screen and (min-width: 1270px) {
  .overlay {
    display: none;
  }
  .app__footer--up {
    display: none;
  }
}

@media screen and (max-width: 1270px) {
  .app__footer--pagenumber {
    display: none;
  }
  .app__footer--up {
    position: fixed;
    bottom: 4px;
    right: 45px;
    display: flex;
    border-radius: 100%;
    background-color: #2476b7;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
  }
  .app__footer--up svg {
    color: white;
  }
  .button {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #2476b7;
    border-radius: 4px;
    padding: 10px;
    margin-top: 24px;
    width: 200px;
    text-align: center;
  }
  .button:hover {
    background-color: #174c77;
  }
  .app__grid--content .wrapper {
    width: 80%;
    margin-bottom: 200px;
  }
  .app__grid {
    display: block;
  }
  .app__grid--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .app__content {
    display: flex;
    flex-direction: column;
  }

  .app__grid--content {
    height: 100vh;
  }
}

@media screen and (max-width: 650px) {
  .app h1 {
    font-size: 40px;
  }
  .app__grid--content {
    display: block;
  }
}

@media screen and (max-width: 820px) {
  .app__content--main {
    background-size: auto 100%;
  }
  .app__grid--content {
    height: 100vh;
  }
}